{% block content %}

<p class="title-1">Lecturers</p>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>ID No.</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Mob No.</th>
        <th>Address/City</th>
      </tr>
    </thead>
    <tbody>
      {% for lecturer in lecturers %}
      <tr>
        <td>{{ forloop.counter }}.</td>
        <td>{{ lecturer.username }}</td>
        <td>
          <a href="{% url 'profile_single' lecturer.id %}">
            {{ lecturer.get_full_name }}
          </a>
        </td>
        <td>{{ lecturer.email }}</td>
        <td>{{ lecturer.phone }}</td>
        <td>{{ lecturer.address }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">
          <span class="text-danger">
            No Lecturer(s).
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}